/*

Author		:	Empire Icon
Template	:	Home | Single Property HTML Template
Version		:	1.0

1. RESET CSS
2. Common CSS 
3. top-bar
4. header-section
5. about-section
6. floors-section
7. video-section
8. room-features-section
9. gallery-section
10. places-section
11. testimonials-section
12. cta-section
13. footer-section
14. Magnific Popup Animation
15. Coustom Media Query CSS

*/
/*.*/ /*.*/ /*.*/ /*.*/ /*.*/ /*.*/ /*.*/ /*.*/ /*.*/ /*.*/ /*.*/

/* ##################### RESET CSS  ##################### */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
:focus {
  outline: 0;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

img {
  max-width: 100%;
  cursor: pointer;
}
h1,
h2,
h3,
h6 {
  color: #000;
}
h4,
h5,
p,
ul,
blockquote {
  color: #777;
}

/* Common CSS */

body {
  padding-top: 90px;
}

.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

.relative {
  position: relative;
}
.button {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  font-weight: 900;
  color: #fff;
  background: #432300;
  text-transform: uppercase;
  padding: 0 30px;
  border: none;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  transition: all 0.5s ease;
}
.button.sm {
  font-size: 13px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 20px;
}
.button:focus,
.button:hover {
  color: #fff;
  background: #000;
}

.alt-bg {
  background: #4323000a;
}
.white-bg {
  background: #fff;
}
.overlay {
  background: rgba(0, 0, 0, 0.2);
}
.section-head {
  padding: 65px 0 65px;
}
.section-head h4 {
  padding-top: 15px;
}
.section-head h2 span {
  color: #432300;
}
.side-head {
  padding: 28px 0;
}
.side-head h4 {
  padding: 11px 0 15px;
}
.side-head h2 span {
  color: #432300;
}

.play-button {
  display: inline-block;
  position: relative;
}
.play-button .pb-border-1 {
  padding: 5px;
  display: block;
  border-radius: 50%;
  background: rgba(180, 102, 0, 0.2);
}
.play-button .pb-border-2 {
  padding: 5px;
  display: block;
  border-radius: 50%;
  background: rgba(119, 65, 3, 0.5);
}
.play-button .icofont {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  background: #432300;
  color: #fff;
  display: block;
}

/*.top-bar*/

.top-bar {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid #f2fff2;
}
.nav-list {
  margin-top: 10px;
  padding-right: 28px;
}

.navbar-default {
  background-color: transparent;
}

.top-logo {
  width: 150px;
}

.navbar {
  position: relative;
  min-height: 40px;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.navbar-brand {
  padding: 0 15px;
  height: auto;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #000;
}
.navbar-default .navbar-toggle:hover .icon-bar {
  background: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  transition: all 0.5s ease;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #432300;
  border-color: #432300;
}
.nav > li > a {
  padding: 10px 20px;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 13px;
}
.navbar-default .navbar-nav > li.current > a,
.navbar-default .navbar-nav > li > a:hover {
  color: #432300;
  background-color: transparent;
}

/*.header-section*/

.mobile-slider{
  display: none;  
}

.single-hSlider {
  width: 100% !important;
}
.hSlide-one .overlay {
  padding: 150px 0px;
}

.header-texts {
  padding: 46px 0 64px;
}
.header-texts h3 {
  color: #fff;
  text-shadow: 2px 2px 2px #432300;
}
.header-texts h1 {
  color: #fff;
  padding: 13px 0 17px;
  text-shadow: 2px 2px 2px #432300;
}
.header-texts h5 {
  color: #fff;
  padding-bottom: 33px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #432300;
}
.appear-from-top {
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all 0.5s ease;
}
.active-slide .appear-from-top {
  top: 0;
  opacity: 1;
}
.appear-from-bottom {
  position: relative;
  bottom: -20px;
  opacity: 0;
  transition: all 0.5s ease;
}
.active-slide .appear-from-bottom {
  bottom: 0;
  opacity: 1;
}
.appear-from-left {
  position: relative;
  left: -20px;
  opacity: 0;
  transition: all 0.5s ease;
}
.active-slide .appear-from-left {
  left: 0;
  opacity: 1;
}
.appear-from-right {
  position: relative;
  left: 20px;
  opacity: 0;
  transition: all 0.5s ease;
}
.active-slide .appear-from-right {
  left: 0;
  opacity: 1;
}
.delayed {
  transition: all 0.5s ease 0.3s;
}
.single-header-feature {
  position: relative;
  margin-bottom: 30px;
  padding: 40px 0 38px;
  border: 1px dotted rgba(255, 255, 255, 0.5);
}
.shf-extra {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  transition: all 0.5s ease;
}
.top-left {
  top: -1px;
  left: -1px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
.top-right {
  top: -1px;
  right: -1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.bottom-right {
  bottom: -1px;
  right: -1px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.bottom-left {
  bottom: -1px;
  left: -1px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.single-header-feature .icofont {
  color: #fff;
  font-size: 36px;
}
.single-header-feature h6 {
  padding-top: 30px;
  color: #fff;
}

.bx-wrapper {
  overflow: hidden;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0px;
  background: transparent;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  background: none;
}
.bx-wrapper .bx-prev:after,
.bx-wrapper .bx-next:after {
  position: absolute;
  top: -30px;
  background: #fff;
  content: "";
  width: 70px;
  height: 70px;
  line-height: 72px;
  border-radius: 50%;
  font-family: "icofont";
  font-size: 20px;
  color: #432300;
  text-indent: 0;
  transition: all 0.5s ease;
}
.bx-wrapper .bx-prev:hover:after,
.bx-wrapper .bx-next:hover:after {
  background: #432300;
  color: #fff;
}
.bx-wrapper .bx-prev::after {
  left: -45px;
  content: "\eb76";
  text-align: right;
  padding-right: 12px;
}
.bx-wrapper .bx-next::after {
  right: -45px;
  content: "\eb79";
  text-align: left;
  padding-left: 12px;
}

/*.about-section*/

.about-section {
  padding: 130px 0;
}

.about-text {
  padding: 48px 0 50px;
}
.about-text h2 span {
  color: #432300;
}
.about-text h4 {
  padding: 14px 0 6px;
}

.project-item ul,
.about-text ul {
  padding-top: 24px;
}

.project-item ul li,
.about-text ul li {
  font-size: 18px;
  line-height: 48px;
  width: 49%;
  display: inline-block;
  color: #777;
  font-weight: 300;
}

.project-item ul li .icofont,
.about-text ul li .icofont {
  color: #432300;
  padding-right: 9px;
}

.appointment-form {
  background: #fff;
  padding: 45px 40px 20px;
}
.appointment-form h6 {
  color: #000;
  padding-bottom: 25px;
}

.input-box {
  margin-bottom: 30px;
}
.input-box input[type="text"],
.input-box textarea {
  width: 100%;
  line-height: 46px;
  border: 1px solid #d3ffd3;
  background: #fff;
  font-size: 14px;
  color: #777;
  padding-left: 25px;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.input-box textarea {
  height: 140px;
  resize: none;
}

.appointment-form .success,
.appointment-form .error {
  display: none;
  line-height: 22px;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  top: -15px;
}
.appointment-form .success {
  color: #432300;
  margin: -5px 0 20px;
}
.appointment-form .error {
  color: #ff0000;
  margin: -15px 0 20px;
}

/*.floors-section*/

.floors-section {
  padding: 116px 0 110px;
}
.single-floor h2 span {
  color: #432300;
}
.single-floor h4 {
  padding: 0 0 14px;
}
.single-floor .button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 11px;
  line-height: 11px;
}
.floor-image {
  padding: 40px 0 0;
}
.floor-image img {
  width: 100%;
}
.single-floor-feature {
  background: #4323000a;
  margin-bottom: 30px;
  padding: 40px 0 38px;
}
.single-floor-feature .icofont {
  color: #432300;
  font-size: 36px;
}
.single-floor-feature h6 {
  padding-top: 30px;
}

/*.video-section*/

.video-section {
  background: url(../images/bg/video.webp) center center;
  background-size: cover;
}
.video-section .overlay {
  padding: 137px 0 150px;
}
.video-section h2 {
  color: #fff;
  padding-bottom: 60px;
}
.video-border {
  text-align: center;
  padding: 134px 0 99px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.video-border h6 {
  font-weight: 300;
  text-transform: none;
  padding-top: 15px;
  color: #fff;
}

/*.room-features-section*/

.room-features-section {
  padding: 140px 0;
}
.room-image img {
  width: 100%;
}
.room-features-texts {
  padding-top: 37px;
  padding-left: 20px;
}
.room-features-texts h2 span {
  color: #432300;
}
.room-features-texts h4 {
  padding: 12px 0 17px;
}
.room-features-texts ul li {
  font-size: 18px;
  line-height: 48px;
  width: 49%;
  display: inline-block;
  color: #777;
  font-weight: 300;
}
.room-features-texts ul li:before {
  font-family: "IcoFont" !important;
  content: "\efab";
  color: #432300;
  margin-right: 10px;
}

.room-features-texts .button {
  margin-top: 10px;
}

/*.gallery-section*/

.gallery-section {
  padding-bottom: 100px;
}
.single-gallery {
  margin-bottom: 30px;
}
.single-gallery img {
  width: 100%;
}
.single-gallery a {
  display: block;
}

/*.places-section*/

.places-section {
  padding-bottom: 100px;
}
.single-place {
padding: 0 0 10px;
  background: #4323000a;
  margin-bottom: 30px;
}
.single-place .icofont {
  color: #432300;
  font-size: 36px;
}
.single-place h6 {
  padding: 15px 0 5px;
}

/*.testimonials-section*/

.testimonials-section {
  padding: 130px 0;
}
.client-image {
  padding-right: 12px;
}
.testimonial-text {
  margin-left: -12px;
  padding-top: 38px;
}
.testimonial-text h5 {
  padding-top: 17px;
}
.testimonial-text h5 small {
  font-weight: 900;
  color: #432300;
  display: block;
  font-size: 12px;
  padding-bottom: 11px;
  text-transform: uppercase;
}

.slick-dots {
  text-align: center;
  margin-top: 20px;
}
.slick-dots li {
  display: inline-block;
  margin: 0 7px;
}
.slick-dots li button {
  height: 10px;
  width: 16px;
  font-size: 1px;
  border: none;
  background: #000;
  border-radius: 5px;
  color: #000;
  opacity: 0.2;
  transition: all 0.5s ease;
}
.slick-dots li.slick-active button {
  width: 26px;
  opacity: 1;
  background: #432300;
  color: #432300;
}

/* Projects */
.projects-section {
  padding-bottom: 100px;
}

.projects-section .projects-item {
  margin-bottom: 20px;
}

.projects-section .projects-item img {
  display: block;
  margin: 0 auto;
}

.project-desc h4 {
  font-weight: 500;
  color: #432300;
}

.go-back-btn,
.projects-item .project-link {
  background-color: #432300;
  color: #fff;
  padding: 8px 15px;
  border-radius: 21px;
  display: inline-block;
}



/*.cta-section*/

.cta-section {
  background: url(../images/bg/cta.webp) center center;
  background-size: cover;
}
.cta-section .overlay {
  padding: 188px 0 200px;
}
.cta-section h2 {
  color: #fff;
}
.cta-section h4 {
  color: #fff;
  padding: 14px 0 25px;
}

/* Each Project */

.project-item {
  padding: 50px 0;
}

.project-item img {
  display: block;
  margin: 0 auto;
}

.project-item p {
  margin-bottom: 20px;
}

.project-item .project-gallery {
  margin-top: 50px;
}

.btn-center {
  text-align: center;
}

/*.footer-section*/

.footer-section {
  background: #fff;
  padding: 70px 0;
}
.copyright-text {
  color: #777;
  line-height: 50px;
  padding: 15px 0;
  display: block;
}
.copyright-text a {
  color: #432300;
}
.copyright-text a:hover {
  color: #000;
}
.footer-logo {
  padding: 15px 0;
  display: block;
}

.foot-logo {
  width: 150px;
}
.footer-links {
  padding: 15px 0;
}
.footer-links li {
  text-align: left;
  margin-bottom: 15px;
}
.footer-links li a {
  display: inline-block;
  color: #777;
}
.footer-links li a:hover {
  display: inline-block;
  color: #432300;
}

.footer-section h4 {
  text-align: left;
  font-weight: bold;
  position: relative;
  color: #000;
  margin-bottom: 15px;
}

.footer-section h4::after {
  content: "";
  background-color: #432300;
  height: 4px;
  width: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-info li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-info li a {
  color: #777;
}

.footer-info li i {
  margin-right: 10px;
  font-weight: bold;
}

/*Magnific Popup Animation*/

.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}


.calltoaction {
  background-color: #432300;
  position: fixed;
  top: 20%;
  right: 0;
  color: #fff;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calltoaction a{
  color: #fff;
  padding: 15px;
}

.calltoaction i{
  font-size: 25px;
}

/*Coustom Media Query CSS*/

@media only screen and (max-width: 991px) {
.project-item .project-image{
  padding-top: 20px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tab-center {
    text-align: center;
  }
  .tab-left {
    text-align: left;
  }
  .pt-30 {
    padding-top: 30px;
  }
  .nav > li {
    display: inline-block;
  }
  .testimonial-text {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  h1,
  .h1-like {
    font-size: 45px;
  }
  h2,
  .h2-like {
    font-size: 30px;
  }
  h3,
  .h3-like {
    font-size: 28px;
  }
  h4,
  .h4-like {
    font-size: 19px;
  }
  h5,
  .h5-like {
    font-size: 16px;
  }
  .desktop-slider{
    display: none;
  }
  .mobile-slider{
    display: block;
  }
  .mobile-left {
    text-align: left;
  }
  .mobile-center {
    text-align: center;
  }
  .pt-30 {
    padding-top: 30px;
  }
  .header-section .overlay {
    padding: 130px 0;
  }
  .about-section {
    padding: 70px 0 130px;
  }
  .floors-section {
    padding: 55px 0 100px;
  }
  .testimonials-section {
    padding: 80px 0 130px;
  }
  .testimonial-text {
    margin-left: 0;
  }
  .about-text ul li,
  .room-features-texts ul li {
    width: 100%;
    display: block;
  }
  .popup-content {
    width: 95% !important;
  }
}

@media only screen and (max-width: 576px) {
  .bx-wrapper .bx-prev:after, 
  .bx-wrapper .bx-next:after{
    width: 60px;
    height: 50px;
    line-height: 50px;
  }
  .bx-wrapper .bx-next:after{
    padding-left: 5px;
  }
  .bx-wrapper .bx-prev:after{
    padding-right: 5px;
  }
  .calltoaction {
    top: 40%;
  }
  .calltoaction a {
    color: #fff;
    padding-right: 6px;
  }

  .about-section {
    padding: 10px 0 10px;
  }

  .floors-section {
    padding: 15px 0 15px;
  }

  .room-features-section {
    padding: 40px 0;
  }

  .section-head {
    padding: 15px 0 15px;
  }

}
